.wrapper {
    display: grid;
    grid-template-areas: 'h h' 'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 4fr 8fr;
    /* grid-gap: 10px; */
    width: 1280px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(155, 17, 134)
}


.content {

}